#ipo-exchange {
  padding-right: 10px;
  padding-left: 10px;
}

#main-card-exchange {
  width: 900px;
}

#card-body-exchange {
  width: 850px;
  padding-left: 40px;
  padding-right: 5px;
}

#form-exchange {
  width: 250px;
  padding-left: 150px;
}

#form-card-exchange {
  width: 580px;
}

#add-new-exchange {
  margin-left: 0px;
  width: 100px;
}

#each-card-exchange {
  width: 275px;
  height: 220px;
  margin-bottom: 25px;
}
#edit-details-exchange {
  margin-left: 10px;
  margin-top: 5px;
}

#card-header-exchange {
  text-align: center;
  font-size: 22px;
  text-transform: uppercase;
}

#create-exchange-form {
  font-size: 19px;
  padding-left: 8px;
}

#create-exchange-button {
  margin-top: -50px;
  margin-left: 5px;
}

#heading-exchange {
  text-transform: uppercase;
  padding-left: 175px;
  font-size: 19px;
}
