#each-card-company {
  width: 275px;
  height: 220px;
  margin-bottom: 25px;
}

#edit-details-company {
  margin-left: 10px;
  margin-top: 5px;
}

#ipo-company {
  padding-right: 10px;
  padding-left: 10px;
}

#main-card-company {
  width: 900px;
}

#card-body-company {
  width: 850px;
  padding-left: 40px;
  padding-right: 5px;
}

#form-company {
  width: 250px;
  padding-left: 150px;
}

#form-card-company {
  width: 580px;
}

#form-body-company {
  width: 500px;
}

#add-new-company {
  margin-left: 38px;
}

#card-header-company {
  text-align: center;
  font-size: 20px;
  text-transform: uppercase;
}

#company-new-header {
  text-transform: uppercase;
  padding-left: 185px;
  font-size: 18px;
}

#create-company-form {
  padding-left: 20px;
}

#create-company-button {
  margin-top: -45px;
}

#delete-company-button{
  padding-right: 2px;
}
