#root {
  background-image: url("../../assets/2.webp");
  background-blend-mode: lighten;
  background-repeat: repeat, repeat;
  background-position: center center;
  overflow: auto;
  height: 100%;
}

html,
body {
  margin: 0;
  height: 100%;
}
#text-header-login {
  font-size: 25px;
  background-color: lightblue;
}

.card-body {
  padding-left: 50px;
  padding-right: 50px;
}
#card-login {
  justify-content: center;
  width: 30%;
  padding-top: 130px;
}

#footer-text {
  font-weight: 600;
}
